<div class="max-w-sm	mx-auto">
  <div class="mb-10">
    <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Signup to create an account
    </h2>
    <p class="mt-2 text-center text-sm text-gray-600 mt-5">
      Already have an account?
      <%= link_to "Sign in", new_session_path(resource_name), class: "font-medium text-blue-600 hover:text-blue-500" %>
    </p>
  </div>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), class: "mt-8 space-y-6", data: { turbo_frame: '_top' }) do |f| %>
    <div class="-space-y-px">
      <div class="field my-5">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter email",
            class: 'rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' %>
        <span class="text-error"><%= resource.errors[:email].join(", ") %></span>
      </div>
    </div>

    <div class="field my-5">
      <%= f.text_field :first_name, autocomplete: "first_name", placeholder: "Enter first name",
          class: 'rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' %>
      <span class="text-error"><%= resource.errors[:first_name].join(", ") %></span>
    </div>

    <div class="field my-5">
      <%= f.text_field :last_name, autocomplete: "last_name", placeholder: "Enter last name",
          class: 'rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' %>
      <span class="text-error"><%= resource.errors[:last_name].join(", ") %></span>
    </div>

    <div class="field my-5">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Enter password",
          class: 'rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <span class="text-error"><%= resource.errors[:password].join(", ") %></span>
    </div>

    <div class="field my-5">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm password",
          class: 'rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm' %>
      <span class="text-error"><%= resource.errors[:password_confirmation].join(", ") %></span>
    </div>

    <div class="actions px-10">
      <%= f.submit "Sign up", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 mt-10" %>
    </div>
  <% end %>
</div>
