<% unless @project.persisted? %>
  <%= link_to "Back", projects_path, class: 'bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded' %>
<% end %>

<%= simple_form_for @project do |f| %>
  <div class="card-body p-md-4 p-2">
    <div class="form-group">
      <%= f.input :title, label: 'Project Title', placeholder: 'Enter project title', input_html: { class: 'form-control rounded-md appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-blue-500 focus:border-blue-500 focus:z-10 sm:text-sm mt-2' } %>
      <span class="text-error"><%= @project.errors.full_messages.to_sentence %></span>
    </div>
    <% unless @project.persisted? %>
      <h3 class="text-xl mt-2 ">Tasks</h3>
      <div id="tasks">
        <%= f.simple_fields_for :tasks do |task| %>
          <%= render "task_fields", f: task %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'Add Task', f, :tasks, class: 'bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-4 rounded inline-block mt-2' %>
        </div>
      </div>
    <% end %>
    <div class="text-right mt-4">
      <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">Save</button>
    </div>
  </div>
<% end %>