<div>
  <% current_user.assigned_tasks.each do |assigned_task| %>
    <div class="bg-gray-100 hover:bg-gray-300 block py-2 px-2  rounded-md my-2">
      <div class="grid grid-cols-8 gap-4">
        <div class="col-span-3">
          <h3 class="font-bold">Title + Description</h3>
        </div>
        <div class="col-span-1">
          <h3 class="font-bold">Assignee</h3>
        </div>
        <div class="col-span-1">
          <h3 class="font-bold">Priority</h3>
        </div>
        <div class="col-span-1">
          <h3 class="font-bold">Location</h3>
        </div>
        <div class="col-span-2">
          <h3 class="font-bold">Attachements</h3>
        </div>
      </div>
      <hr/>
      <div class="grid grid-cols-8 gap-4 mt-1">
        <div class="col-span-3">
          <div class="font-bold">
            <%= assigned_task.task.title %>
          </div>
          <div class="block">
            <%= assigned_task.task.description.to_plain_text %>
          </div>
        </div>
        <div class="col-span-1">
          <%= assigned_task.user.name %>
        </div>
        <div class="col-span-1 -my-1">
          <i class="fa-solid fa-flag text-xl mt-2 <%= priority_color(assigned_task.task.priority) %>"></i>
          <span class="pl-2 pr-3 -my-1 -mt-1 text-base"><%= assigned_task.task.priority.titleize %></span>
        </div>
        <div class="col-span-1 -my-1">
          <% if assigned_task.task.location %>
            <%= assigned_task.task.location.nearest_address %>
          <% end %>
        </div>
        <div class="col-span-2">
          <% assigned_task.task.description&.body&.attachments&.each do |attachment| %>
            <% if attachment.image? %>
              <%= image_tag attachment.variant(resize: "300x300") %>
            <% elsif attachment.video? %>
              <%= video_tag url_for(attachment.attachable),
                            preload: "auto",
                            controls: "controls",
                            width: "640",
                            height: "360" %>
            <% else %>
              <figcaption class="attachment__caption">
                <% if caption = attachment.try(:caption) %>
                  <%= caption %>
                <% else %>
                  <span class="attachment__name"><%= attachment.filename %></span>
                  <span class="attachment__size"><%= number_to_human_size attachment.byte_size %></span>
                <% end %>
              </figcaption>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <div data-controller="maps">
    <h2 class="text-xl mt-6 mb-6 font-bold">Assigned Task on Map</h2>
    <div data-maps-target="container" class="h-[25rem] mb-12 w-auto" data-coordinates="<%= current_user.assigned_task_locations %>"></div>
  </div>
</div>